
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";


@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


@import '@ionic/angular/css/palettes/dark.system.css';

@import "leaflet/dist/leaflet.css";


#map {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  
  
  height: 250px !important; 
  min-height: 250px !important;
  width: calc(100% - 32px) !important; 
  
  
  margin: 20px auto 40px auto !important; 
  
  
  border-radius: 20px;
  z-index: 1; 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); 
  border: 1px solid rgba(255, 255, 255, 0.1); 
  
 
  overflow: hidden; 
  background-color: #ddd !important; 
}


.leaflet-pane {
  z-index: 0 !important;
}

.leaflet-container {
  touch-action: none;
  font-family: inherit;
}


.leaflet-popup-content-wrapper {
  border-radius: 12px;
  padding: 5px;
  background: var(--ion-color-light);
  color: var(--ion-color-dark);
}

.leaflet-popup-tip {
  background: var(--ion-color-light);
}


.weather-container {
  padding-bottom: 20px; 
}